.rectangle{
    border-radius: 5px;
    padding:6px;
    text-align:center;
    font-size:18px;
    background-color: #ccc;
}

.rectangle-red{
    border:3px solid red;
}
    .rectangle-red span {
        color: red;
    }

.rectangle-green{
    border:3px solid green;
}
    .rectangle-green span {
        color: green;
    }

.rectangle-blue{
    border:3px solid blue;
}
    .rectangle-blue span{
        color: blue;
    }